openapi: 3.1.0
info:
  title: Bizzi Payment OpenAPI
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - description: Bizzi Payment
    url: https://pay.bizzi.services/v1
paths:
  /auth/token:
    post:
      security: []
      operationId: userInfo
      tags:
        - Auth
      summary: Lấy token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
        required: true
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'          
        '400':
          description: Dữ liệu gửi lên có vấn đề
        '401':
          description: Không được phép truy cập
        '403':
          description: Chưa được cấp quyền truy cập
        '404':
          description: Không tìm thấy dữ liệu
        '409':
          description: Dữ liệu xung đột
        '500':
          description: Lỗi hệ thống
  /payment-order-batches:
    post:
      security:
        - BearerAuth: []
      tags:
        - Payment order batches
      summary: Tạo lệnh chi
      parameters:
        - in: header
          name: x-request-id
          schema:
            type: string
          required: true
          description: "Id đối tác gửi theo request"
        - in: header
          name: x-request-time
          schema:
            type: string
          required: true
          description: "Unix milisecond UTC"
        - in: header
          name: x-request-signature
          schema:
            type: string
          required: true
          description: sha-256 (  x-request-id + " | " + x-request-time " | " + stringify(sort(payload)) + " | " + encryptKey )
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentOrdersRequest'
        required: true
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrdersResponse'          
        '400':
          description: Dữ liệu gửi lên có vấn đề
        '401':
          description: Không được phép truy cập
        '403':
          description: Chưa được cấp quyền truy cập
        '404':
          description: Không tìm thấy dữ liệu
        '409':
          description: Dữ liệu xung đột
        '500':
          description: Lỗi hệ thống
  /payment-order-batches/{id}:
    get:
      security:
        - BearerAuth: []
      tags:
        - Payment order batches
      summary: Truy vấn lệnh chi
      parameters:
        - in: header
          name: x-request-id
          schema:
            type: string
          required: true
          description: "Id đối tác gửi theo request"
        - in: header
          name: x-request-time
          schema:
            type: string
          required: true
          description: "Unix milisecond UTC"
        - in: header
          name: x-request-signature
          schema:
            type: string
          required: true
          description: sha-256 (  x-request-id + " | " + x-request-time " | " + stringify(sort(payload)) + " | " + encryptKey )
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: "Id lệnh chi"
        - in: query
          name: refId
          schema:
            type: string
            description: "Mã giao dịch cần truy vấn do client truyền qua"
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquiryPaymentOrderResponse'
        '400':
          description: Dữ liệu gửi lên có vấn đề
        '401':
          description: Không được phép truy cập
        '403':
          description: Chưa được cấp quyền truy cập
        '404':
          description: Không tìm thấy dữ liệu
        '409':
          description: Dữ liệu xung đột
        '500':
          description: Lỗi hệ thống
  /sofs:
    post:
      security:
        - BearerAuth: []
      tags:
        - Source of funds
      summary: Tạo nguồn tiền
      parameters: 
        - in: header
          name: x-request-id
          schema:
            type: string
          required: true
          description: "Id đối tác gửi theo request"
        - in: header
          name: x-request-time
          schema:
            type: string
          required: true
          description: "Unix milisecond UTC"
        - in: header
          name: x-request-signature
          schema:
            type: string
          required: true
          description: sha-256 (  x-request-id + " | " + x-request-time " | " + stringify(sort(payload)) + " | " + encryptKey )
      requestBody:
        content:
          application/json:
            schema:
              required:
                - bin
                - bankAccountNumber
                - bankAccountName
              properties:
                bin:
                  type: string
                bankAccountNumber:
                  type: string
                bankAccountName:
                  type: string
                branchCode:
                  type: string
                type:
                  type: string
                  default: ACCOUNT
                bankNostro:
                  type: string
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SofResponse'
        '400':
          description: Dữ liệu gửi lên có vấn đề
        '401':
          description: Không được phép truy cập
        '403':
          description: Chưa được cấp quyền truy cập
        '404':
          description: Không tìm thấy dữ liệu
        '409':
          description: Dữ liệu xung đột
        '500':
          description: Lỗi hệ thống
  /sof/{id}:
    get:
      security:
        - BearerAuth: []
      tags:
        - Source of funds
      summary: Truy vấn tài khoản
      parameters:
        - in: header
          name: x-request-id
          schema:
            type: string
          required: true
          description: "Id đối tác gửi theo request"
        - in: header
          name: x-request-time
          schema:
            type: string
          required: true
          description: "Unix milisecond UTC"
        - in: header
          name: x-request-signature
          schema:
            type: string
          required: true
          description: sha-256 (  x-request-id + " | " + x-request-time " | " + stringify(sort(payload)) + " | " + encryptKey )
        - in: path
          name: id
          schema:
            type: string
          description: "Id nguồn tiền"
          required: true
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquirySofResponse'          
        '400':
          description: Dữ liệu gửi lên có vấn đề
        '401':
          description: Không được phép truy cập
        '403':
          description: Chưa được cấp quyền truy cập
        '404':
          description: Không tìm thấy dữ liệu
        '409':
          description: Dữ liệu xung đột
        '500':
          description: Lỗi hệ thống
  /banks:
    get:
      security:
        - BearerAuth: []
      tags:
        - Banks
      summary: Truy vấn danh sách ngân hàng
      parameters: 
        - in: header
          name: x-request-id
          schema:
            type: string
          required: true
          description: "Id đối tác gửi theo request"
        - in: header
          name: x-request-time
          schema:
            type: string
          required: true
          description: "Unix milisecond UTC"
        - in: header
          name: x-request-signature
          schema:
            type: string
          required: true
          description: sha-256 (  x-request-id + " | " + x-request-time " | " + stringify(sort(payload)) + " | " + encryptKey )
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankResponse'
        '400':
          description: Dữ liệu gửi lên có vấn đề
        '401':
          description: Không được phép truy cập
        '403':
          description: Chưa được cấp quyền truy cập
        '404':
          description: Không tìm thấy dữ liệu
        '409':
          description: Dữ liệu xung đột
        '500':
          description: Lỗi hệ thống
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    TokenRequest:
        required:
          - clientId
          - clientSecret
        type: object
        properties:
          clientId:
            type: string
          clientSecret:
            type: string
    TokenResponse:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        data: 
          type: object
          properties:
            token:
              type: string
            expiredAt:
              type: string
              format: date-time 
    TransactionRequest:
      required:
        - refId
        - amount
        - accountNumber
        - channel
      type: object
      properties:
        refId:
          type: string
          description: "Mã giao dịch do client truyền qua"
        amount:
          type: number
          description: "Số tiền chi"
        accountName:
          type: string
          description: "Tên người thụ hưởng"
        accountNumber:
          type: string
          description: "Số tài khoản thụ hưởng"
        bankCode:
          type: string
          description: "Mã ngân hàng thụ hưởng"
        branchCode:
          type: string
        channel:
          type: string
          description: "Loại giao dịch"
          enum: ["AUTO", "INTERNAL", "CITAD", "NAPAS"]
        remark: 
          type: string
          description: "Nội dung lệnh chi"
    PaymentOrdersRequest:
      required:
        - sofId
      type: object
      properties:
        sofId:
          type: string
          description: "Id nguồn tiền"
        paymentOrders:
          type: array
          items:
              $ref: '#/components/schemas/TransactionRequest'
    PaymentOrdersResponse:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        data: 
          type: object
          properties:
            paymentOrderBatchId:
              type: string
              description: "Id lệnh chi do Bizzi sinh ra"
    InquiryPaymentOrderResponse:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        data:
          type: object
          properties:
            paymentOrders:
              type: array
              items:
                  $ref: '#/components/schemas/InquiryTransactionResponse'
    SofResponse:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        data:
          type: object
          properties:
            sofId:
              type: string
              description: "Id nguồn tiền"
    BankResponse:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        data:
          type: array
          items:
            properties:
              bin:
                type: string
                description: "Bank Identification Number"
              name:
                type: string
                description: "Tên ngân hàng"
              shortName:
                type: string
              swiftCode: 
                type: string
              logo:
                type: string
    InquiryTransactionResponse:
      type: object
      properties:
        transactionId:
          type: string
          description: "Mã giao dịch trên Bizzi"
        refId:
          type: string
          description: "Mã giao dịch do đối tác truyền qua"
        amount:
          type: number
          description: "Số tiền chi"
        accountName:
          type: string
          description: "Tên người thụ hưởng"
        accountNumber:
          type: string
          description: "Số tài khoản thụ hưởng"
        bankCode:
          type: string
          description: "Mã ngân hàng thụ hưởng"
        branchCode:
          type: string
        channel:
          type: string
          description: "Loại giao dịch: INTERNAL, CITAD, NAPAS, AUTO"
        remark: 
          type: string
          description: "Nội dung lệnh chi"
        transactions:
          type: array
          items:
            type: object
            properties:
              batchId:
                type: string
              amount:
                type: number
                description: Số tiền"
              status:
                type: string
                format: enum
                enum: ["SUCCESS, FAILED, PENDING, TIMEOUT"]
    InquirySofResponse:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        data:
          type: object
          properties:
            balance:
              type: number
              description: "Số dư tài khoản"
            bin:
              type: string
            bankAccountNumber:
              type: string
            bankAccountName:
              type: string
            branchCode:
              type: string
            type:
              type: string 
            bankNostro:
              type: string